#display_container{
    height: fit-content;
    width:800px;
    border: transparent;
    border-radius: 10px;
    margin-top: 100px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    gap: 30px;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}


#new_book{
    height: 35px;
    width:150px;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border: transparent;
    margin-top: 30px;

}

#new_book:hover{
    cursor: pointer;
    background-color: #3081eb
}

table {
    width: 100%;
    border-collapse: collapse;


}
th, td {
    padding: 10px;
    text-align: left;
    height: 50px;
}

th{
    font-size: 20px;
}
tr{
    font-size: 17px;
    background-color: rgb(242, 242, 242);
    font-weight: lighter;
}

tr:hover{
    background-color: #e3e2e2;
    cursor: default;
}

th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
}

th {
    background-color: cornflowerblue;
    color: white;
}


tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}


tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}



#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}


#form_container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
}

#form_container input{
    padding: 10px;
    font-size: 18px;
    height: 25px;
    border-left: transparent;
    border-top: transparent;
    border-right: transparent;
    border-bottom: 1px solid #ada8a8;
}

#form_container button {
    background-color: cornflowerblue;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    height: 45px;
    border-radius: 5px;
}


#form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    justify-content: center;
}

.read_status{
    height: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bolder;
}

#change_status_button{
    height: 35px;
    width: 80%;
    font-weight: bold;
    font-size: 13px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    border: transparent;
}

#change_status_button:hover{
    cursor: pointer;
    background-color: #3081eb;
}

#remove_button{
    height: 35px;
    width: 80%;
    font-weight: bold;
    font-size: 13px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    border: transparent;
}

#remove_button:hover{
    cursor: pointer;
    background-color: #3081eb
}

#header_text {
    position: relative;
    top: 80px;
    margin-top: 100px;

}